 /* Couleurs et polices*/
section li a{ color: white;}
section{ width: 100%;  height: auto;font-family:Comfortaa,Arial, Helvetica, sans-serif; }

/*Effets au survol*/
li a:hover{
background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

form button:hover{background-color: blue !important;}
img{ width: 6rem; height: auto; border-radius: 10%;}
img:hover {opacity: 0.8; }

/*Rendre le menu burger visible*/
.navbar-toggler {
  background-color: white;
}