<!-- Footer -->
<footer>

  <!-- Réseaux sociaux du pied de page -->
  <nav class="footer-nav">

    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
      <img src="Footer-images/instagram.avif" alt="Instagram" title="Instagram">
    </a>

    <a href="https://x.com/?lang=fr" target="_blank" rel="noopener noreferrer">
      <img src="Footer-images/twitter.webp" alt="X (Twitter)" title="X (Twitter)">
    </a>

    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
      <img src="Footer-images/Facebook.svg" alt="Facebook" title="Facebook">
    </a>

  </nav>

</footer>