
<!--Page à propose avec image et descriptions-->

<section>  
<div>   

<h1>A propos de nous</h1>

<img src="Propos-Contact-images/asterix2.jpeg" alt="Illustration d'Astérix">

</div>

<p> 

Astérix et Obélix sont les héros d’une célèbre bande dessinée créée en 1959 par René Goscinny et Albert Uderzo. Astérix est un petit guerrier rusé et courageux qui tire sa force d’une potion magique, tandis qu’Obélix, son fidèle ami, possède une force permanente après être tombé dedans enfant.

La série se déroule en 50 av. J.-C. et raconte les aventures d’un village gaulois résistant à l’envahisseur romain grâce à cette potion. Humoristique et pleine de parodies, elle met en scène leurs combats contre les Romains et leur aide aux autres peuples.

Avec plus de 40 albums et des centaines de millions d’exemplaires vendus dans le monde, Astérix est l’une des bandes dessinées les plus populaires, adaptée aussi en films et dessins animés.

Dans cet univers s’inscrit “Au petit village”, une boutique proposant des figurines inspirées de ces personnages et de leurs aventures.

</p>

</section>